<!-- 侧边栏自我介绍 -->

<div class="card-widget card-info" >
    <link th:if="${#strings.equals(theme.config.sidebar.profile.profileStyle, 'default')}"
          rel="stylesheet"
          th:href="${assets_link + '/css/profile-default-' + theme.spec.version + '.css' + theme_version}">
    <link th:if="${#strings.equals(theme.config.sidebar.profile.profileStyle, 'one')}"
          rel="stylesheet"
          th:href="${assets_link + '/css/profile-one-' + theme.spec.version + '.css' + theme_version}">

    <!-- 默认 -->
    <th:block th:if="${#strings.equals(theme.config.sidebar.profile.profileStyle, 'default')}">
        <!-- 描述信息 -->
        <div class="card-content hanlo-profile-background"
             th:style="${#strings.isEmpty(theme.config.sidebar.profile.backgroundImg) ? '' : '--hanlo-profile-background: url(' + theme.config.sidebar.profile.backgroundImg + ');'}">
            <div class="card-info-avatar is-center">
                <div class="author-info__top-group">
                    <div class="author-info__sayhi" data-hanlo-action="change-greeting">你好啊！我是
                    </div>
                    <img class="avatar-img" alt="站点头像"
                         th:with=" img = @{${#strings.isEmpty(site.logo) ? assets_link + '/images/hanlo-logo.png' : site.logo}}"

                         th:src="${isLazyload ? '' : img}"
                         th:data-lazy-src="${ isLazyload ? img : ''}">
                </div>
                <div class="author-info__name" th:if="${#strings.isEmpty(theme.config.sidebar.profile.profileName)}"
                     th:text="${site.title}"></div>
                <div class="author-info__name" th:if="${not #strings.isEmpty(theme.config.sidebar.profile.profileName)}"
                     th:text="${theme.config.sidebar.profile.profileName}"></div>
                <div class="author-info__description" th:utext="${theme.config.sidebar.profile.profileDesc}">

                </div>
            </div>
        </div>

        <!-- 跳转信息 -->
        <div class="banner-button-group">
            <a class="banner-button" href="/about">
                <i class="haofont hao-icon-circle-arrow-right"></i>
                <span class="banner-button-text">了解更多</span>
            </a>
        </div>

        <div class="card-info-social-icons is-center"
             th:if="${not #lists.isEmpty(theme.config.sidebar.profile.socialMedia)}"
             th:with="socialMedias = ${theme.config.sidebar.profile.socialMedia}">

            <a class="social-icon" rel="external nofollow" target="_blank" th:each="socialMedia : ${socialMedias}"
               th:href="${socialMedia.url}" th:title="${socialMedia.name}">
                <i th:class="${socialMedia.icon}"></i>
            </a>
        </div>


    </th:block>


    <!-- 样式一 -->
    <th:block th:if="${#strings.equals(theme.config.sidebar.profile.profileStyle, 'one')}">


        <div class="card-content">
            <div class="card-info-avatar is-center">
                <div class="author-info__top-group">
                    <div class="author-info__sayhi" data-hanlo-action="change-greeting">你好啊！
                    </div>
                </div>
            </div>
            <div class="avatar-img-group">
                <img class="avatar-img" alt="avatar"
                     th:with="img = @{${#strings.isEmpty(site.logo) ? assets_link + '/images/hanlo-logo.png' : site.logo}}"

                     th:src="${isLazyload ? '' : img}"
                     th:data-lazy-src="${ isLazyload ? img : ''}">
                <div class="avatar-sticker">
                    <img class="avatar-sticker-img" alt="avatar"
                         th:with="img = @{${theme.config.sidebar.profile.stickerImg}}"

                         th:src="${isLazyload ? '' : img}"
                         th:data-lazy-src="${ isLazyload ? img : ''}">
                </div>
            </div>
            <div class="author-info__description_group" th:utext="${theme.config.sidebar.profile.profileDesc}">
            </div>
            <div class="author-info__bottom-group">
                <a th:if="${not #strings.isEmpty(theme.config.sidebar.profile.profileName)}"
                   class="author-info__bottom-group-left" href="/about">
                    <div class="author-info__name">[[${theme.config.sidebar.profile.profileName}]]</div>
                    <div class="author-info__desc">[[${theme.config.sidebar.profile.desc}]]</div>
                </a>
                <div class="card-info-social-icons is-center"
                     th:if="${not #lists.isEmpty(theme.config.sidebar.profile.socialMedia)}"
                     th:with="socialMedias = ${theme.config.sidebar.profile.socialMedia}">
                    <a class="social-icon" rel="external nofollow" target="_blank"
                       th:each="socialMedia : ${socialMedias}" th:href="${socialMedia.url}"
                       th:title="${socialMedia.name}">
                        <i th:class="${socialMedia.icon}"></i>
                    </a>
                </div>
            </div>
        </div>





    </th:block>

</div>
