<!-- 技能&职业生涯 -->
<div class="author-content">

    <div class="author-content-item skills">
        <div class="card-content">
            <div class="author-content-item-tips">技能</div>
            <span class="author-content-item-title">开启创造力</span>
            <div class="skills-style-group">
                <div class="tags-group-all">
                    <!--  banners 使用默认值-->
                    <div class="tags-group-wrapper default-tech-icons"
                         th:if="${#strings.equals(theme.config.top.BannerLeft.bannersBackground, 'default')}">
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#989bf8]">
                                <img th:src="${assets_link + '/images/icons/vite.svg'}"
                                     title="Vite">
                            </div>
                            <div class="tags-group-icon hl:[background:#fff]">
                                <img th:src="${assets_link + '/images/icons/github.svg'}"
                                     title="GitHub">
                            </div>
                        </div>
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#57b6e6]">
                                <img th:src="${assets_link + '/images/icons/docker.svg'}"
                                     title="Docker">
                            </div>
                            <div class="tags-group-icon hl:[background:#4082c3]">
                                <img th:src="${assets_link + '/images/icons/typescript.svg'}"
                                     title="TypeScript">
                            </div>
                        </div>
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#fff]">
                                <img th:src="${assets_link + '/images/icons/postgresql.svg'}"
                                     title="PostgreSQL">
                            </div>
                            <div class="tags-group-icon hl:[background:#fff]">
                                <img th:src="${assets_link + '/images/icons/python.svg'}"
                                     title="Python">
                            </div>
                        </div>
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#eb6840]">
                                <img th:src="${assets_link + '/images/icons/java.svg'}"
                                     title="Java">
                            </div>
                            <div class="tags-group-icon hl:[background:#8f55ba]">
                                <img th:src="${assets_link + '/images/icons/vue-js.svg'}"
                                     title="Vue.js">
                            </div>
                        </div>
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#f29e39]">
                                <img th:src="${assets_link + '/images/icons/nodejs.svg'}"
                                     title="Node.js">
                            </div>
                            <div class="tags-group-icon hl:[background:#2c51db]">
                                <img th:src="${assets_link + '/images/icons/css.svg'}" title="CSS3">
                            </div>
                        </div>
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#f7cb4f]">
                                <img th:src="${assets_link + '/images/icons/javascript.svg'}" title="JavaScript">
                            </div>
                            <div class="tags-group-icon hl:[background:#e9572b]">
                                <img th:src="${assets_link + '/images/icons/html.svg'}" title="HTML">
                            </div>
                        </div>
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#df5b40]">
                                <img th:src="${assets_link + '/images/icons/git.svg'}" title="Git">
                            </div>
                            <div class="tags-group-icon hl:[background:#e65164]">
                                <img th:src="${assets_link + '/images/icons/springboot.svg'}"
                                     title="Spring Boot">
                            </div>
                        </div>
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#989bf8]">
                                <img th:src="${assets_link + '/images/icons/vite.svg'}"
                                     title="Vite">
                            </div>
                            <div class="tags-group-icon hl:[background:#fff]">
                                <img th:src="${assets_link + '/images/icons/github.svg'}"
                                     title="GitHub">
                            </div>
                        </div>
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#57b6e6]">
                                <img th:src="${assets_link + '/images/icons/docker.svg'}"
                                     title="Docker">
                            </div>
                            <div class="tags-group-icon hl:[background:#4082c3]">
                                <img th:src="${assets_link + '/images/icons/typescript.svg'}"
                                     title="TypeScript">
                            </div>
                        </div>
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#fff]">
                                <img th:src="${assets_link + '/images/icons/postgresql.svg'}"
                                     title="PostgreSQL">
                            </div>
                            <div class="tags-group-icon hl:[background:#fff]">
                                <img th:src="${assets_link + '/images/icons/python.svg'}"
                                     title="Python">
                            </div>
                        </div>
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#eb6840]">
                                <img th:src="${assets_link + '/images/icons/java.svg'}"
                                     title="Java">
                            </div>
                            <div class="tags-group-icon hl:[background:#8f55ba]">
                                <img th:src="${assets_link + '/images/icons/vue-js.svg'}"
                                     title="Vue.js">
                            </div>
                        </div>
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#f29e39]">
                                <img th:src="${assets_link + '/images/icons/nodejs.svg'}"
                                     title="Node.js">
                            </div>
                            <div class="tags-group-icon hl:[background:#2c51db]">
                                <img th:src="${assets_link + '/images/icons/css.svg'}" title="CSS3">
                            </div>
                        </div>
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#f7cb4f]">
                                <img th:src="${assets_link + '/images/icons/javascript.svg'}" title="JavaScript">
                            </div>
                            <div class="tags-group-icon hl:[background:#e9572b]">
                                <img th:src="${assets_link + '/images/icons/html.svg'}" title="HTML">
                            </div>
                        </div>
                        <div class="tags-group-icon-pair">
                            <div class="tags-group-icon hl:[background:#df5b40]">
                                <img th:src="${assets_link + '/images/icons/git.svg'}" title="Git">
                            </div>
                            <div class="tags-group-icon hl:[background:#e65164]">
                                <img th:src="${assets_link + '/images/icons/springboot.svg'}"
                                     title="Spring Boot">
                            </div>
                        </div>
                    </div>

                    <!--  banners 使用默认值-->
                    <div class="tags-group-wrapper"
                         th:if="${#strings.equals(theme.config.top.BannerLeft.bannersBackground, 'techStack')}"
                         th:with="techs = ${theme.config.top.BannerLeft.techStack}">
                        <th:block th:each="tech,iterStat : ${techs}">
                            <div class="tags-group-icon-pair" th:if="${iterStat.odd}">
                        <div class="tags-group-icon hanlo-dynamic-background"
                             th:style="'--hanlo-dynamic-background:' + ${techOdd.background}"
                                     th:with="techOdd = ${tech}">
                                    <img th:src="@{${techOdd.url}}"
                                         th:title="${techOdd.name}">
                                </div>

                        <div class="tags-group-icon hanlo-dynamic-background" th:if="${not iterStat.last}"
                             th:style="'--hanlo-dynamic-background:' + ${techEven.background}"
                                     th:with="techEven = ${techs[iterStat.index + 1]}">
                                    <img th:src="@{${techEven.url}}"
                                         th:title="${techEven.name}">
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>

                <!--  banners 使用默认值-->
                <div class="skills-list default-tech-icons"
                     th:if="${#strings.equals(theme.config.top.BannerLeft.bannersBackground, 'default')}"
                     th:with="techs = ${theme.config.top.BannerLeft.techStack}">

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#989bf8]">
                            <img th:src="${assets_link + '/images/icons/vite.svg'}"
                                 title="Vite">
                        </div>
                        <div class="skill-name"><span>Vite</span></div>
                    </div>

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#ffffff]">
                            <img th:src="${assets_link + '/images/icons/github.svg'}" title="GitHub">
                        </div>
                        <div class="skill-name"><span>GitHub</span></div>
                    </div>

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#57b6e6]">
                            <img th:src="${assets_link + '/images/icons/docker.svg'}" title="Docker">
                        </div>
                        <div class="skill-name"><span>Docker</span></div>
                    </div>

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#4082c3]">
                            <img th:src="${assets_link + '/images/icons/typescript.svg'}" title="TypeScript">
                        </div>
                        <div class="skill-name"><span>TypeScript</span></div>
                    </div>

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#ffffff]">
                            <img th:src="${assets_link + '/images/icons/postgresql.svg'}"
                                 title="PostgreSQL">
                        </div>
                        <div class="skill-name"><span>PostgreSQL</span></div>
                    </div>

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#ffffff]">
                            <img th:src="${assets_link + '/images/icons/python.svg'}" title="Python">
                        </div>
                        <div class="skill-name"><span>Python</span></div>
                    </div>

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#eb6840]">
                            <img th:src="${assets_link + '/images/icons/java.svg'}" title="Java">
                        </div>
                        <div class="skill-name"><span>Java</span></div>
                    </div>

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#8f55ba]">
                            <img th:src="${assets_link + '/images/icons/vue-js.svg'}" title="Vue.js">
                        </div>
                        <div class="skill-name"><span>Vue.js</span></div>
                    </div>

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#f29e39]">
                            <img th:src="${assets_link + '/images/icons/nodejs.svg'}"
                                 title="Node.js">
                        </div>
                        <div class="skill-name"><span>Node.js</span></div>
                    </div>

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#2c51db]">
                            <img th:src="${assets_link + '/images/icons/css.svg'}" title="CSS3">
                        </div>
                        <div class="skill-name"><span>CSS3</span></div>
                    </div>

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#f7cb4f]">
                            <img th:src="${assets_link + '/images/icons/javascript.svg'}" title="JavaScript">
                        </div>
                        <div class="skill-name"><span>JavaScript</span></div>
                    </div>

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#e9572b]">
                            <img th:src="${assets_link + '/images/icons/html.svg'}" title="HTML">
                        </div>
                        <div class="skill-name"><span>HTML</span></div>
                    </div>

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#df5b40]">
                            <img th:src="${assets_link + '/images/icons/git.svg'}" title="Git">
                        </div>
                        <div class="skill-name"><span>Git</span></div>
                    </div>

                    <div class="skill-info">
                        <div class="skill-icon hl:[background:#1f1f1f]">
                            <img th:src="${assets_link + '/images/icons/springboot.svg'}" title="Spring Boot">
                        </div>
                        <div class="skill-name"><span>Spring Boot</span></div>
                    </div>

                    <div class="etc">...</div>
                </div>
                <div class="skills-list"
                     th:if="${#strings.equals(theme.config.top.BannerLeft.bannersBackground, 'techStack')}"
                     th:with="techs = ${theme.config.top.BannerLeft.techStack}">
                    <th:block th:each="tech : ${techs}">
                        <div class="skill-info">
                        <div class="skill-icon hanlo-dynamic-background"
                             th:style="'--hanlo-dynamic-background:' + ${tech.background}">
                                <img th:src="@{${tech.url}}" th:title="${tech.name}">
                            </div>
                            <div class="skill-name">
                                <span>[[${tech.name}]]</span>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <div class="author-content-item careers">
        <div class="card-content">
            <div class="author-content-item-tips">生涯</div>
            <span class="author-content-item-title"
                  th:text="${theme.config.about.authorCareers.authorCareersTitle}">无限进步</span>
            <div class="careers-group"
                 th:if="${not #lists.isEmpty(theme.config.about.authorCareers.authorCareersTags)}"
                 th:with="careersTags = ${theme.config.about.authorCareers.authorCareersTags}">
                <div class="careers-item" th:each="tag : ${careersTags}">
                        <div class="circle hanlo-dynamic-background"
                             th:style="'--hanlo-dynamic-background:' + ${tag.background}"></div>
                    <div class="name" th:text="${tag.desc}"></div>
                </div>
            </div>
            <img alt="生涯" class="author-content-img"
                 th:src="@{${#strings.isEmpty(theme.config.about.authorCareers.authorCareersBackground) ?  assets_link + '/images/hanlo-logo.png' : theme.config.about.authorCareers.authorCareersBackground}}">
        </div>
    </div>
</div>
