<!-- 数据统计&作者相关信息 -->
<div class="author-content">
    <div class="author-content-item-group column mapAndInfo">
        <div class="author-content-item map single"
             th:style="|--hanlo-map-background-light: url('${theme.config.about.map.background}'); --hanlo-map-background-dark: url('${theme.config.about.map.backgroundDark}')|">
            <span class="map-title">我现在住在
                <b>[[${theme.config.about.map.StrengthenTitle}]]</b>
            </span>
        </div>
        <div class="author-content-item selfInfo single"
             th:if="${not #lists.isEmpty(theme.config.about.map.authorInfo)}"
             th:with="texts = ${theme.config.about.map.authorInfo}">
            <div th:if="${theme.config.about.map.authorInfo.size()}>'0'">
                <span class="selfInfo-title"
                      th:text="${texts[0].authorInfoTitle}">生于</span><span
                    class="selfInfo-content hanlo-dynamic-color"
                    id="selfInfo-content-year" th:style="'--hanlo-dynamic-color:' + ${texts[0].authorInfoColor}"
                    th:text="${texts[0].authorInfoContent}">2000</span>
            </div>
            <div th:if="${theme.config.about.map.authorInfo.size()}>'1'">
                <span class="selfInfo-title"
                      th:text="${texts[1].authorInfoTitle}">太原理工大学</span><span
                    class="selfInfo-content hanlo-dynamic-color"
                    th:style="'--hanlo-dynamic-color:' + ${texts[1].authorInfoColor}"
                    th:text="${texts[1].authorInfoContent}">计算机科学</span>
            </div>
            <div th:if="${theme.config.about.map.authorInfo.size()}>'2'">
                <span class="selfInfo-title"
                      th:text="${texts[2].authorInfoTitle}">现在职业</span><span
                    class="selfInfo-content hanlo-dynamic-color"
                    th:style="'--hanlo-dynamic-color:' + ${texts[2].authorInfoColor}"
                    th:text="${texts[2].authorInfoContent}">BI工程师</span>
            </div>
        </div>
    </div>
</div>
