<div class="bbTimeList container" id="bbTimeList"
     th:if="${theme.config.top.moment}">

    <i class="haofont hao-icon-logo-moment hl:[font-size:1.3rem]" title="瞬间"></i>

    <!--   未安装插件   -->
    <th:block th:if="!${pluginFinder.available('PluginMoments')}">
        <div class="swiper-container swiper-no-swiping hanlo-moment-swiper"
             id="bbtalk-plugin-missing" tabindex="-1">
            <a class="hanlo-moment-link" href="https://github.com/halo-sigs/plugin-moments"
               aria-label="安装瞬间插件" target="_blank" rel="noopener noreferrer external"></a>
            <div class="swiper-wrapper hanlo-moment-track" id="bber-talk-plugin-missing">
                <div class="li-style swiper-slide">这里需要安装瞬间的插件</div>
                <div class="li-style swiper-slide">去安装吧！</div>
            </div>
        </div>
        <a class="bber-gotobb hanlo-moment-action haofont hao-icon-circle-arrow-right"
           href="https://github.com/halo-sigs/plugin-moments" title="下载插件"
           target="_blank" rel="noopener noreferrer external"></a>
    </th:block>

    <!--   瞬间插件   -->
    <th:block th:if="${pluginFinder.available('PluginMoments')}">
        <div class="swiper-container swiper-no-swiping hanlo-moment-swiper" id="bbtalk" tabindex="-1">
            <a class="hanlo-moment-link" href="/moments" aria-label="查看全部瞬间"></a>
            <div class="swiper-wrapper hanlo-moment-track" id="bber-talk" th:if="${momentFinder}">
                <th:block th:each="moment : ${momentFinder.listAll()}" th:with="content=${moment.spec.content}">
                    <div class="li-style swiper-slide"
                         th:if="${not #strings.isEmpty(content.raw)}"
                         th:utext="${content.raw}">
                    </div>
                </th:block>
            </div>
        </div>
        <a class="bber-gotobb hanlo-moment-action haofont hao-icon-circle-arrow-right"
           href="/moments" title="查看全文"></a>
    </th:block>
    <img th:if="${theme.config.top.climb.climbEnable && theme.config.top.recentTop} " class="climb"  id="climb"
         th:src="${isLazyload ? '' : theme.config.top.climb.climbImg}"
         data-hanlo-action="random-margin"
         th:data-lazy-src="${ isLazyload ? theme.config.top.climb.climbImg : ''}">

</div>
