<!-- 动态标题 -->
<script
        th:if="${theme.config.other.diytitle.diytitleEnable}">
    (function () {
        const leaveTitle = '[[${theme.config.other.diytitle.leaveTitle}]]';
        const backTitle = '[[${theme.config.other.diytitle.backTitle}]]';
        const originTitle = "[(${siteTitle})]";
        const controller = new AbortController();
        let titleTime;

        document.addEventListener('visibilitychange', function () {
            if (document.hidden) {
                document.title = leaveTitle;
                clearTimeout(titleTime);
            } else {
                document.title = backTitle + originTitle;
                titleTime = setTimeout(function () {
                    document.title = originTitle;
                }, 2000);
            }
        }, {signal: controller.signal});

        document.addEventListener('hanlo:page:destroy', function () {
            controller.abort();
            clearTimeout(titleTime);
        }, {once: true});
    })();
</script>
