<th:block th:if="${theme.config.top.above.enable_above}">
    <link rel="stylesheet"
          th:href="${assets_link + '/css/full-page-' + theme.spec.version + '.css' + theme_version}">
    <div class="pl-container"
         th:style="|--hanlo-index-image: url('${theme.config.top.above.index_img}'); --hanlo-index-image-mobile: url('${theme.config.top.above.phone_index_img}')|">
        <th:block th:if="!${theme.config.top.above.enable_above_video}">
            <div class="pl-img pl-blur pl-visible"></div>
            <div class="pl-img pl-visible"></div>
            <video class="video"></video>
        </th:block>
        <th:block th:if="${theme.config.top.above.enable_above_video}">
            <video class="index-video hl:block hl:object-cover hl:w-full hl:h-full hl:pointer-events-none" id="index-video" autoplay=""
                   th:src="${theme.config.top.above.index_video}" loop="" muted="" playsinline=""
                   webkit-playsinline=""
                  >
            </video>
        </th:block>
    </div>

    <div id="site-info">
        <h1 id="site-title">[[${site.title}]]</h1>
        <div id="site-subtitle">
            <span id="subtitle"></span>
            <span class="typed-cursor" aria-hidden="true"></span>
        </div>
    </div>
    <div id="scroll-down"><i class="haofont hao-icon-angle-down scroll-down-effects"></i></div>

</th:block>
