@layer pages {
  .hanlo-envelope-letter {
    width: 95%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    color: var(--heo-fontcolor);
    background: var(--heo-card-bg);
    border: var(--style-border-always);
    border-radius: 5px;
    box-shadow: var(--heo-shadow-border);
  }

  .hanlo-envelope-message {
    margin: 15px 0;
    padding: 20px;
    color: var(--heo-fontcolor);
    line-height: 2;
    overflow-wrap: anywhere;
    text-align: center;
    background: var(--heo-secondbg);
    border-block: var(--style-border-always);
  }

  .hanlo-envelope-signature {
    padding-inline: 1rem;
    color: var(--heo-secondtext);
    font-size: 12px;
    text-align: center;
  }

  @media screen and (max-width: 599px) {
    #afterimg,
    #beforeimg {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {
    .hanlo-envelope-container img {
      margin: 0 auto;
    }

    #form-wrap {
      position: relative;
      top: 0;
      z-index: 0;
      height: 447px;
      overflow: hidden;
      transition: all 1s ease-in-out 0.3s;
    }

    #form-wrap:hover {
      top: -200px;
      height: var(--hanlo-envelope-open-height);
    }

    #beforeimg {
      position: absolute;
      bottom: 126px;
      left: 0;
      z-index: -100;
      width: 530px;
      height: 317px;
      background-repeat: no-repeat;
      pointer-events: none;
    }

    #afterimg {
      position: absolute;
      bottom: -2px;
      left: 0;
      z-index: 100;
      width: 530px;
      height: 259px;
      background-repeat: no-repeat;
      pointer-events: none;
    }

    #envelope {
      position: relative;
      width: 500px;
      margin: 0 auto;
      padding-top: 200px;
      overflow: visible;
      transition: all 1s ease-in-out 0.3s;
    }

    #maincontent {
      width: 530px;
      margin: 20px auto 0;
    }
  }
}
