<!DOCTYPE html>
<html th:lang="${#locale.toLanguageTag}" th:fragment="layout(content, htmlType, title, head)" xmlns:th="http://www.thymeleaf.org"
      th:with="assets_link=${theme.config.other.staticResource.use == 'custom' ? theme.config.other.staticResource.cdn_link : '/themes/theme-hanlo/assets'},
      theme_version = ${ theme.config.other.staticResource.use == 'local' ? '?v='+ theme.spec.version : ''},
      isLazyload = ${theme.config.other.vanillaLazyload.enable},
      loadingImg = ${theme.config.other.vanillaLazyload.loadingImg},
      siteTitle = ${not #strings.isEmpty(title) ?  title  :  #strings.isEmpty(site.subtitle) ? site.title :  site.title +' - ' +site.subtitle }">

<!-- head 中自定义的  -->

<head>
    <th:block th:replace="~{modules/head :: head(htmlType = ${htmlType})}"/>
    <!--  解决 katex pjax问题 -->
    <script th:if="${pluginFinder.available('plugin-katex')}" defer=""
            src="/plugins/plugin-katex/assets/static/katex.min.js"></script>
    <script th:src="${assets_link + '/js/custom.js' + theme_version}"></script>
    <th:block th:if="${head != null}">
        <th:block th:replace="${head}"/>
    </th:block>

</head>

<body>

<!-- loading 页面 -->
<th:block th:replace="~{modules/loading-box}"/>

<!-- 网站背景 -->
<div id="web_bg">
    <div th:if="${theme.config.top.global_background.enable_global_background_img}">
        <img th:if="${theme.config.top.global_background.enable_global_background_above_video == false}"
             class="global_background_img"
             th:src="${theme.config.top.global_background.global_background_img}"
        />
        <video th:if="${theme.config.top.global_background.enable_global_background_above_video}"
               class="index-video"
               id="index-video"
               autoplay=""
               th:src="${theme.config.top.global_background.global_background_video}"
               loop=""
               muted=""
               playsinline=""
               webkit-playsinline=""
               style="display:block;object-fit:cover;width:100%;height:100%;pointer-events:none;">
        </video>
    </div>
</div>

<th:block th:if="${theme.config.top.global_background.enable_global_background_img}">
    <style>
        @media screen and (min-width: 1300px) {
            .global_background_img {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 1;
                position: fixed;
                z-index: -999;
                background: var(--heo-background);
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        
        @media screen and (max-width: 1300px) {
            .global_background_img {
                display: none;
            }
        }
    
    </style>
</th:block>

<script th:if="${not #lists.isEmpty(postFinder.listAll())}"
        th:inline="javascript"
    th:with="allPostList=${postFinder.listAll()},
    randomIndex=${T(java.lang.Math).floor(T(java.lang.Math).random()*#lists.size(allPostList))},
    postPermalink=${allPostList[randomIndex].status.permalink}"
>
    function toRandomPost() {
        // 随机跳转全站的一篇文章
        let permalink = /*[[${postPermalink}]]*/ "/";
        
        // 当前窗口打开
        //window.location.href = permalink;
        pjax.loadUrl(permalink);
        // window.open(permalink);
    }

</script>

<!-- 控制台 -->
<div th:replace="~{modules/widgets/console}"/>

<div th:replace="~{modules/sidebar}"/>

<!-- 内容 -->
<th:block th:replace="${content}"></th:block>


<!-- todo 右下角悬浮操作按钮 -->
<th:block th:replace="~{modules/widgets/rightside}"/>


<div th:replace="~{modules/widgets/right-menu}"/>

<div>
    <script th:src="${assets_link + '/js/utils.js' + theme_version}"></script>
    <script th:src="${assets_link + '/js/halo.js' + theme_version}"></script>
    <script th:src="${assets_link + '/js/main.js' + theme_version}"></script>
    <script charset="utf-8" data-pjax th:src="${assets_link + '/zhheo/blogex.js' + theme_version}"></script>
    <script th:src="${assets_link + '/js/tw_cn.js' + theme_version}"></script>
    <!-- https://instant.page/ 网站预加载， 放在 </body> 之前 -->
    <script th:src="${assets_link + '/libs/instantpage/instantpage.min.js'}"
            type="module"></script>
    
    <script th:src="${assets_link + '/libs/vanilla-lazyload/lazyload.iife.min.js'}"></script>
    
    <!-- 右下角通知 https://www.polonel.com/snackbar/ -->
    <!-- todo head 中有它的 css，应该可以写一块，并改成后台可配置的功能，代码中应该还有他的 js -->
    <script th:src="${assets_link + '/libs/node-snackbar/snackbar.min.js'}"></script>
    
    <div class="js-pjax">
        <!-- 动态标题 -->
        <script th:replace="~{modules/common/diytitle}"/>
    </div>
    
    <!-- 深色模式下添加粒子效果canvas -->
    <canvas th:if="${theme.config.style.universe}" id="universe" width="1312" height="880"></canvas>
    <script th:if="${theme.config.style.universe}" async="" th:src="${assets_link + '/libs/canvas/dark.js'}"></script>
    
    <!-- https://davidshimjs.github.io/qrcodejs/ 生成二维码 -->
    <!-- 应该是文章页分享使用 -->
    <script data-pjax th:src="${assets_link + '/libs/qrcode/qrcode.min.js'}" ></script>
    
    <!--  https://raphamorim.io/waterfall.js/  应该是这个 还有相关的 js 代码 是否可以调整-->
    <script th:src="${assets_link + '/libs/waterfall/waterfall.min.js'}"></script>
    
    <!-- 获取主色 https://lokeshdhakar.com/projects/color-thief/ -->
    <!--<script th:src="@{/assets/libs/color-thief/color-thief.umd.js}"></script>-->
    <script th:src="${assets_link + '/libs/fast-average-color/index.browser.min.js'}"></script>
    
    <script th:src="${assets_link + '/libs/view-image/view-image.min.js'}"></script>

    <script th:src="${assets_link + '/libs/pjax/pjax.min.js'}"></script>

    <!-- 阶段 2 页面生命周期：稳定文件名由 Vite 构建生成。 -->
    <script type="module" th:src="${assets_link + '/js/hanlo-runtime.js' + theme_version}"></script>
    
    <!-- swiper 在瞬间滚动时会使用 -->
    <script th:if="${theme.config.top.moment}" data-pjax
            th:src="${assets_link + '/libs/swiper/swiper-bundle.min.js'}"></script>
    
    <!-- 右键菜单 -->
    <script th:if="${theme.config.tool.rightMenu.rightMenuEnable}"
            th:src="${assets_link + '/zhheo/rightmenu.js'}"></script>
    
    <!-- Tocbot 目录生成 start -->
    <th:block th:replace="~{modules/common/toc-bot}"/>
    
    <script>
        let pjaxSelectors = ['title', '#config-diff', '#body-wrap', '#rightside-config-hide', '#rightside-config-show', '.js-pjax', '#site-config']
        
        pjaxSelectors.unshift('meta[property="og:type"]', 'meta[property="og:image"]', 'meta[property="og:title"]', 'meta[property="og:url"]', 'meta[property="og:description"]'
                , 'meta[name="twitter:title"]', 'meta[name="twitter:url"]', 'meta[name="twitter:description"]', 'meta[name="twitter:image"]')
        
        var pjax = new Pjax({
            elements: 'a:not([target="_blank"])',
            selectors: pjaxSelectors,
            cacheBust: false,
            analytics: false,
            scrollRestoration: false
        })
        
        document.addEventListener('pjax:send', function () {
            
            // removeEventListener toc scroll
            window.removeEventListener('scroll', window.tocScrollFn)
            
            typeof preloader === 'object' && preloader.initLoading()
            
            typeof typed === 'object' && typed && typeof typed.destroy === 'function' && typed.destroy()
            
            //reset readmode
            const $bodyClassList = document.body.classList
            $bodyClassList.contains('read-mode') && $bodyClassList.remove('read-mode')
        })
        
        document.addEventListener('pjax:complete', function () {
            window.refreshFn()
            
            document.querySelectorAll('script[data-pjax]').forEach(item => {
                        const newScript = document.createElement('script')
                        const content = item.text || item.textContent || item.innerHTML || ""
                        Array.from(item.attributes).forEach(attr => newScript.setAttribute(attr.name, attr.value))
                        newScript.appendChild(document.createTextNode(content))
                        item.parentNode.replaceChild(newScript, item)
                    }
            )
            
            GLOBAL_CONFIG.lazyload.enable && window.lazyLoadInstance.update()
            
            typeof chatBtnFn === 'function' && chatBtnFn()
            typeof panguInit === 'function' && panguInit()
            
            // google analytics
            typeof gtag === 'function' && gtag('config', '', {
                'page_path': window.location.pathname
            });
            
            // baidu analytics
            typeof _hmt === 'object' && _hmt.push(['_trackPageview', window.location.pathname]);
            
            // Analytics
            if (false) {
                MtaH5.pgv()
            }
            
            typeof preloader === 'object' && preloader.endLoading()
        })
        
    </script>


</div>

<!-- 根据配置设置 css 变量值，全局 css 通过变量值进行处理 -->
<th:block th:replace="~{'modules/variables/layout'}"></th:block>

<script data-pjax="">
    
    //页脚友联
    GLOBAL_CONFIG.isFriendLinksInFooter && heo.addFriendLinksInFooter()
</script>
</body>

</html>
