<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{modules/layouts/layout :: layout(content = ~{::content},htmlType = 'photos',title = ${title + ' | ' + site.title}, head = ~{::head},_title = ${title})}">
<th:block th:fragment="head">
    <th:block th:replace="~{modules/common/open-graph :: open-graph(_title = ${_title},
                _permalink = '/photos',
                _cover = ${theme.config.other.opengraph.image},
                _excerpt = ${site.seo.description},
                _type = 'website')}"></th:block>
    <link rel="stylesheet" data-hanlo-page-style
          th:href="${assets_link + '/css/photos-' + theme.spec.version + '.css' + theme_version}">
</th:block>
<th:block th:fragment="content">

    <div class="page" id="body-wrap">
        <!-- 头部导航栏 -->
        <header class="not-top-img" id="page-header">
            <nav th:replace="~{modules/nav :: nav(title = ${_title})}"></nav>
        </header>
        <main class="layout hide-aside" id="content-inner">
            <div id="page">
                <th:block th:if="${#strings.equals(theme.config.photos.photosStyle, 'default')}">
                    <th:block th:each="group : ${photoFinder.groupBy()}">
                        <th:block
                                th:if="${#strings.equals(group.metadata.name, param.group) && not #strings.isEmpty(param.group)}"
                                th:with="description = ${#annotations.get(group, 'description')},
                         background = ${#annotations.get(group, 'background')}">
                    <div class="author-content author-content-item essayPage single hanlo-essay-cover"
                         th:style="|--hanlo-essay-cover: url('${background}')|">
                                <div class="card-content">
                                    <div class="author-content-item-tips">相册集</div>
                                    <span class="author-content-item-title" th:text="${group.spec.displayName}"></span>
                                    <div class="content-bottom">
                                        <div class="tips" th:text="${description}"></div>
                                    </div>
                                    <div class="banner-button-group">
                                        <a class="banner-button" th:href="${theme.config.photos.topLink}">
                                            <i class="haofont hao-icon-circle-arrow-right"></i>
                                            <span class="banner-button-text" th:text="返回"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                    <th:block th:if="${#strings.isEmpty(param.group)}"
                              th:with="background = ${theme.config.photos.backgroundImg}">
                    <div class="author-content author-content-item essayPage single hanlo-essay-cover"
                         th:style="|--hanlo-essay-cover: url('${background}')|">
                            <div class="card-content">
                                <div class="author-content-item-tips">相册集</div>
                                <span class="author-content-item-title">全部</span>
                                <div class="content-bottom">
                                    <div class="tips"></div>
                                </div>
                                <div class="banner-button-group">
                                    <a class="banner-button" th:href="${theme.config.photos.topLink}">
                                        <i class="haofont hao-icon-circle-arrow-right"></i>
                                        <span class="banner-button-text" th:text="返回"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <div th:replace="~{modules/widgets/photo-gallery :: gallery}"></div>
                    <!-- 分页 -->
                    <th:block th:with="param_group = ${not #strings.isEmpty(param.group) ? '?group='+param.group : ''}">
                        <div th:replace="~{modules/widgets/page :: page('/photos',${photos},false,${param_group})}"></div>
                    </th:block>
                </th:block>

                <div class="gallery-groups" th:if="${#strings.equals(theme.config.photos.photosStyle, 'one')}">
                    <th:block th:each="group : ${photoFinder.groupBy()}">
                        <h1 class="hl:[margin:8px_0px_20px]" th:if="${#strings.equals(group.metadata.name, param.group) && not #strings.isEmpty(param.group) }">
                            [[${group.spec.displayName}]]
                        </h1>
                    </th:block>
                    <h1 class="hl:[margin:8px_0px_20px]" th:if="${#strings.isEmpty(param.group)}">全部</h1>
                    <div th:replace="~{modules/widgets/photo-gallery :: gallery}"></div>
                    <!-- 分页 -->
                    <th:block th:with="param_group = ${not #strings.isEmpty(param.group) ? '?group='+param.group : ''}">
                        <div th:replace="~{modules/widgets/page :: page('/photos',${photos},false,${param_group})}"></div>
                    </th:block>
                </div>

                <!--/* 评论组件 */-->
                <th:block th:replace="~{modules/comment :: comment(group = 'content.halo.run',
                  kind = 'SinglePage',
                  name = 'photos',
                  allowComment = true)}" />
            </div>

        </main>
        <!-- 底部 -->
        <footer th:replace="~{modules/footer}"/>
    </div>

</th:block>

</html>
