<!-- 导航栏菜单栏 -->
<div id="nav-right">

    <!-- 功能都需要添加开关 -->

    <!-- 随机前往一个开往项目网站 -->
    <div class="nav-button only-home" id="travellings_button" title="随机前往一个开往项目网站" th:if="${theme.config.nav.right.travelling}">
        <a class="site-page" href="https://www.travellings.cn/go.html"  rel="external nofollow"
           title="随机前往一个开往项目网站">
            <i class="haofont hao-icon-eicon_train-line"></i>
        </a>
    </div>

    <div class="nav-button" id="randomPost_button" th:if="${theme.config.nav.right.article}">
        <button class="site-page hanlo-button-reset" data-hanlo-action="random-post"
                type="button" title="随机文章">
            <i class="haofont hao-icon-signal-tower-fill"></i>
        </button>
    </div>

    <!-- 切换模式 -->
    <div class="nav-button" id="darkmode_button" th:if="${theme.config.nav.right.darkMode}">
        <button class="console_switchbutton hanlo-button-reset" data-hanlo-action="toggle-theme"
                type="button" title="切换模式 - 日夜交替，黑白互换。">
            <i class="haofont hao-icon-moon-clear-fill hl:[font-size:1rem]"></i>
        </button>
    </div>

    <!-- 搜索使用搜索插件 -->
    <div class="nav-button" id="search-button" th:if="${pluginFinder.available('PluginSearchWidget')}">
        <button class="site-page social-icon search hanlo-button-reset" data-hanlo-action="open-search"
                type="button" title="站内搜索">
            <i class="haofont hao-icon-search--line"></i>
        </button>
    </div>

    <div th:if="${theme.config.nav.right.navLogin}" class="console-button" tabindex="-1"
         th:with="currentUser = ${contributorFinder.getContributor(#authentication.name)}">
        <span class="site-page nav-login">
            <i sec:authorize="isAnonymous()" class="haofont hao-icon-zhanghao1  hl:[font-size:19.5px]"></i>
            <img class="hl:[width:24px] hl:[height:24px] hl:rounded-full" sec:authorize="isAuthenticated()"  th:src="${currentUser.avatar}"
                 th:alt="${currentUser.displayName}"
                 />
        </span>
        <div class="back-menu-list-groups">
            <div class="back-menu-list-group hl:[margin:-4px_-9px_-4px_-18px]">
                <div class="back-menu-list">
                    <th:block sec:authorize="isAuthenticated()">
                        <a class="back-menu-item" rel="external nofollow" target="_blank" href="/console">
                            <span class="back-menu-item-text">控制台</span>
                        </a>
                        <a class="back-menu-item" rel="external nofollow" href="/logout">
                            <span class="back-menu-item-text">退出登录</span>
                        </a>
                    </th:block>
                    <a sec:authorize="isAnonymous()" class="back-menu-item" rel="external nofollow" target="_blank"
                       href="/login" data-hanlo-login-link>
                        <span class="back-menu-item-text">登录</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${theme.config.nav.right.console.consoleEnable}" class="nav-button" id="nav-console">
        <button class="console_switchbutton hanlo-button-reset" data-hanlo-action="show-console"
                type="button" title="显示中控台">
            <i class="haofont hao-icon-dashboard"></i>
        </button>
    </div>

    <div class="nav-button" data-hanlo-action="scroll-top" id="nav-totop">
        <button class="totopbtn hanlo-button-reset" type="button" aria-label="返回顶部">
            <i class="haofont hao-icon-arrow-up hl:[font-size:1rem]"></i><span id="percent">0</span>
        </button>
    </div>

    <div id="toggle-menu">
        <button class="site-page hanlo-button-reset" type="button" aria-label="打开导航菜单">
            <i class="haofont hao-icon-bars"></i>
        </button>
    </div>
</div>
