<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{modules/layouts/layout :: layout(content = ~{::content}, htmlType = 'bangumis',title = ${'追番' + ' | ' + site.title}, head = ~{::head})}">
<th:block th:fragment="head">
    <th:block th:replace="~{modules/common/open-graph :: open-graph(_title = '追番',
                _permalink = '/bangumis',
                _cover = ${theme.config.other.opengraph.image},
                _excerpt = ${site.seo.description},
                _type = 'website')}"></th:block>
    <link rel="stylesheet" data-hanlo-page-style
          th:href="${assets_link + '/css/bangumi-' + theme.spec.version + '.css' + theme_version}">
</th:block>
<th:block th:fragment="content">
    <div class="page" id="body-wrap">

        <!-- 头部导航栏 -->
        <header class="not-top-img" id="page-header">
            <nav th:replace="~{modules/nav :: nav(title = '追番')}"></nav>
        </header>
        <main class="layout hide-aside" id="content-inner">
            <div id="page">
                <h1 class="page-title hl:inline">追番列表</h1>
                <div id="article-container">
                    <blockquote>
                        <p>生命不息，追番不止！</p>
                    </blockquote>

                    <div class="bangumi-tabs">
                        <a class="bangumi-tab" id="bangumi-tab1" href="javascript:;" rel="external" target="_self"
                           onclick="return false" data-pjax-state="">
                            想看
                            ([[${bangumiFinder.getDataTotal(1,1)}]])</a>
                        <a class="bangumi-tab bangumi-active" id="bangumi-tab2" href="javascript:;" rel="external"
                           target="_self" onclick="return false" data-pjax-state="">
                            在看
                            ([[${bangumiFinder.getDataTotal(1,2)}]])</a>
                        <a class="bangumi-tab" id="bangumi-tab3" href="javascript:;" rel="external" target="_self"
                           onclick="return false" data-pjax-state="">
                            已看
                            ([[${bangumiFinder.getDataTotal(1,3)}]])</a>
                    </div>
                    <div>
                        <div id="bangumi-item1" class="bangumi-hide">
                            <th:block th:each="bangumi : ${bangumiFinder.getBiliDataAll(1,1)}">
                                <th:block th:replace="~{macro/bangumi-item :: bangumi-item(${bangumi.spec})}"/>
                            </th:block>
                            <div class="bangumi-pagination">
                                <a class="bangumi-button bangumi-firstpage" href="javascript:;" target="_self"
                                   onclick="return false" data-pjax-state=""> 首页</a>
                                <a class="bangumi-button bangumi-previouspage" href="javascript:;" target="_self"
                                   onclick="return false" data-pjax-state="">上一页</a>
                                <span class="bangumi-pagenum">1 / 1</span>
                                <a class="bangumi-button bangumi-nextpage" href="javascript:;" target="_self"
                                   onclick="return false" data-pjax-state="">下一页</a>
                                <a class="bangumi-button bangumi-lastpage" href="javascript:;" target="_self"
                                   onclick="return false" data-pjax-state="">尾页</a>
                            </div>
                        </div>
                        <div id="bangumi-item2" class="bangumi-show">
                            <th:block th:each="bangumi : ${bangumiFinder.getBiliDataAll(1,2)}">
                                <th:block th:replace="~{macro/bangumi-item :: bangumi-item(${bangumi.spec})}"/>
                            </th:block>
                            <div class="bangumi-pagination">
                                <a class="bangumi-button bangumi-firstpage" href="javascript:;" target="_self"
                                   onclick="return false" data-pjax-state=""> 首页</a>
                                <a class="bangumi-button bangumi-previouspage" href="javascript:;" target="_self"
                                   onclick="return false" data-pjax-state="">上一页</a>
                                <span class="bangumi-pagenum">1 / 1</span>
                                <a class="bangumi-button bangumi-nextpage" href="javascript:;" target="_self"
                                   onclick="return false" data-pjax-state="">下一页</a>
                                <a class="bangumi-button bangumi-lastpage" href="javascript:;" target="_self"
                                   onclick="return false" data-pjax-state="">尾页</a>
                            </div>
                        </div>
                        <div id="bangumi-item3" class="bangumi-hide">
                            <th:block th:each="bangumi : ${bangumiFinder.getBiliDataAll(1,3)}">
                                <th:block th:replace="~{macro/bangumi-item :: bangumi-item(${bangumi.spec})}"/>
                            </th:block>
                            <div class="bangumi-pagination">
                                <a class="bangumi-button bangumi-firstpage" href="javascript:;" target="_self"
                                   onclick="return false" data-pjax-state=""> 首页</a>
                                <a class="bangumi-button bangumi-previouspage" href="javascript:;" target="_self"
                                   onclick="return false" data-pjax-state="">上一页</a>
                                <span class="bangumi-pagenum">1 / 1</span>
                                <a class="bangumi-button bangumi-nextpage" href="javascript:;" target="_self"
                                   onclick="return false" data-pjax-state="">下一页</a>
                                <a class="bangumi-button bangumi-lastpage" href="javascript:;" target="_self"
                                   onclick="return false" data-pjax-state="">尾页</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!--/* 评论组件 */-->
                <th:block
                        th:replace="~{modules/comment :: comment(group = 'content.halo.run',
                  kind = 'SinglePage',
                  name = 'bangumis',
                  allowComment = true)}"/>
            </div>


        </main>
        <!-- 底部 -->
        <footer th:replace="~{modules/footer}"/>
    </div>

</th:block>

</html>
